.header {
  font-family: 'Inter';
}

.header__title {
  font-weight: 500;
  line-height: 64px;
  font-size: 50px;
  margin: 96px 0 77px;
}

.header_component-page {
  background-color: var(--white);
}
