.card {
  border-radius: 12px;
  background: var(--bg-main);
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-decoration: none;
  min-height: 295px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card__footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
  font-family: 'roboto';
  color: var(--text-primary);
}

.card__title {
  font-size: 21px;
  font-weight: 500;
}

.card__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.card__content__custom-form-elements {
  display: grid;
  gap: 6px;
  grid-auto-flow: row;
  pointer-events: none;
}

@media (min-width: 768px) {
  .card {
    padding: 36px;
  }

  .card__content__custom-form-elements {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    gap: 16px;
    grid-auto-flow: column;
    pointer-events: none;
  }
}
