.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  transform: translateX(-100vw);
}

.checkbox__input:checked + .checkbox__state .checkbox__control {
  background: var(--blue-2);
  border-color: var(--blue-2);
  animation: pulse 0.5s;
}

.checkbox__input:checked + .checkbox__state .checkbox__icon {
  visibility: visible;
}

.checkbox__input:disabled + .checkbox__state {
  cursor: default;
}

.checkbox__input:disabled + .checkbox__state .checkbox__control {
  background: var(--grey-2);
  border-color: var(--border-secondary);
}

.checkbox__input:disabled + .checkbox__state .checkbox__text {
  color: var(--grey-2);
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  background: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__control_main-page {
  background: var(--bg-grey);
}

.checkbox__icon {
  color: var(--white);
  visibility: hidden;
}

.checkbox__text {
  font-family: 'inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-secondary);
}
