.skeleton {
  border: 1px solid var(--border-default);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skeleton_main {
  max-width: 100%;
}

.skeleton__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skeleton__avatar {
  background: linear-gradient(
    90deg,
    #dde2e5 0%,
    #e2e6e8 33.33%,
    #f3f5f5 52.08%,
    #e3e7ea 73.96%,
    #dde2e5 100%
  );
  background-size: 200%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  animation: 2s linear infinite background-movement;
}

.skeleton__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.skeleton__line {
  background: linear-gradient(
    90deg,
    #dde2e5 0%,
    #e2e6e8 33.33%,
    #f3f5f5 52.08%,
    #e3e7ea 73.96%,
    #dde2e5 100%
  );
  background-size: 200%;
  height: 20px;
  animation: 2s linear infinite background-movement;
}

.skeleton__line_small {
  width: 33%;
}

.skeleton__line_medium {
  width: 50%;
}

.skeleton__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__line_large {
  width: 100%;
}

@media (min-width: 768px) {
  .skeleton_main {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .skeleton_main {
    max-width: 50%;
  }
}
