.histogram {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  font-family: 'inter';
  font-weight: 400;
  padding: 16px 24px 24px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}
.histogram__title {
  color: var(--black);
  opacity: 0.8;
}

.histogram__link {
  color: var(--blue2);
  text-decoration: none;
  padding-top: 3px;
}

.histogram__total {
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 39px;
}

.histogram__bars {
  display: flex;
  align-items: flex-end;
  gap: 1px;
  height: 50px;
  animation: appear 1s ease;
}

.histogram__bar {
  background-color: var(--blue2);
  flex-grow: 1;
}

@keyframes appear {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  25% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  50% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
}
