.main__cards {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(210px, auto));
  gap: 16px;
}

.main__title {
  margin: 24px 0 32px;
  color: var(--text-primary);
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}

.main__show-more-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main__component-title {
  text-transform: uppercase;
  color: var(--text-muted);
  font-size: 20px;
  font-family: 'inter';
  font-weight: 400;
}

.main__component {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__component-buttons {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 16px;
}

.main__component-custom-form-elements {
  display: grid;
  gap: 16px;
}

.main__component-inputs {
  display: block;
}

@media (min-width: 768px) {
  .main__title {
    margin: 16px 0 40px;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
  }

  .main__show-more-button {
    margin-top: 67px;
  }

  .main_component-page {
    display: grid;
    grid-template-columns: 229px 1fr;
    grid-column-gap: 56px;
  }

  .main__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__component-buttons {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
  }

  .main__component-custom-form-elements {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 32px;
    grid-auto-flow: column;
  }

  .main__component-inputs {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 32px;
  }

  .main__component-title {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .main__cards {
    gap: 30px;
    grid-template-columns: repeat(3, minmax(350px, auto));
  }

  .main__component-buttons {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    gap: 32px;
  }

  .main__component-inputs {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 32px;
  }
}
