.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
  width: calc(100vw - 32px);
}

.container_mb {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
