@keyframes fade-out {
  0% {
    background: var(--blue-2);
    border-color: var(--blue-2);
  }

  25% {
    background: var(--blue-2);
    border-color: var(--blue-2);
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 75%;
  }

  100% {
    opacity: 100%;
  }
}
