@keyframes fade-in {
  0% {
    background: var(--bg-main);
    border-color: var(--border-secondary);
  }

  25% {
    opacity: 25%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 75%;
  }

  100% {
    opacity: 100%;
  }
}
