.radio {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    transform: translateX(-100vw);
  }

  &__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--border-secondary);
    border-radius: 50%;
    background: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      background: var(--blue);
      border-radius: 50%;
      height: 18px;
      width: 18px;
      visibility: hidden;
      content: '';
    }

    &_main-page {
      background: var(--bg-grey);
    }
  }

  &__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__text {
    font: {
      family: 'inter';
      size: 16px;
      weight: 400;
    }
    line-height: 24px;
    color: var(--text-secondary);
  }

  &__input:checked + &__state &__control {
    border: {
      color: var(--blue);
      width: 2px;
    }
  }

  &__input:checked + &__state &__control::before {
    visibility: visible;
  }

  &__input:disabled + &__state {
    cursor: default;
  }

  &__input:disabled + &__state &__control {
    background: var(--grey-2);
    border-color: var(--border-secondary);
  }

  &__input:disabled + &__state &__text {
    color: var(--grey-2);
  }
}
